## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [76]:
import pandas as pd

movies = pd.read_csv('./movies/movies.csv')
ratings = pd.read_csv('./movies/ratings.csv')

In [77]:
# just showing of data structure
# common column is movieId in two datasets
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [78]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [79]:
(
    ratings
    .merge(movies, on='movieId')
    .query('rating == 5.0')
    [['title', 'rating']]
    .groupby(by='title')
    .size()
    .sort_values(ascending=False)
    .head(1)
)

title
Shawshank Redemption, The (1994)    153
dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [114]:
import pandas as pd

p_df = pd.read_csv('./power.csv')

(
    p_df
    .query('country == "Latvia" or country == "Lithuania" or country == "Estonia"')
    .query('category == 4 or category == 12 or category == 21')
    .query('2005 <= year <= 2010')
    .query('quantity > 0')
    ['quantity']
    .sum()
)

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [150]:
import pandas as pd

msu_master_dvi_results = pd.read_html('http://pk.cmc.msu.ru/node/1516', header=0)[0]

msu_master_dvi_results[(
    msu_master_dvi_results['ФИО'].str.contains('Кундрюков', case=False)
)]

                             ФИО  Оценка
84  КУНДРЮКОВ  СЕРГЕЙ ГЕОРГИЕВИЧ       2

In [151]:
msu_master_dvi_results

                                     ФИО  Оценка
0        АБДУЛЛАЕВА  САБИНА АБДРАШИТОВНА       2
1              АБРАМОВ  МИХАИЛ БОРИСОВИЧ      65
2         АГАЙДАРОВА  АЙГАНЫМ ЖУМАБАЕВНА      50
3            АГЕЕВ  АЛЕКСЕЙ ВЛАДИМИРОВИЧ      40
4       АЛЕКСАНДРОВ  ВАЛЕНТИН ВАЛЕРЬЕВИЧ      70
5              АНАНЬЕВ  РОМАН ВИТАЛЬЕВИЧ      65
6                АХМЕТОВ  АНДРЕЙ ЮРЬЕВИЧ      50
7            БАТЫРБЕКОВ  АСКАР ДАРХАНУЛЫ      50
8        БЕЛЬСКАЯ  АЛЕКСАНДРА ДМИТРИЕВНА      50
9                БЕЛЯНКОВ  ОЛЕГ ОЛЕГОВИЧ      60
10         БЕЛЯЦКИЙ  АЛЕКСАНДР СЕРГЕЕВИЧ      60
11         БИГАЛИЕВА  АЙЫМКОЗ АМАНТАЕВНА      40
12             БИДЖИЕВ  РЕЗУАН АХМАТОВИЧ       2
13            БЛОХИНА  АННА ВЛАДИМИРОВНА      65
14         БОБРОВА  АЛЕКСАНДРА АНДРЕЕВНА      50
15        БОЛОТНИКОВ  ДИМИТРИЙ СЕРГЕЕВИЧ      70
16          БОНДАРЕВ  ЯРОСЛАВ АЛЕКСЕЕВИЧ      50
17           БУХТИЯРОВ  АЛЕКСЕЙ ОЛЕГОВИЧ      65
18    ВАРФОЛОМЕЕВ  АЛЕКСЕЙ АЛЕКСАНДРОВИЧ       2
19           ВАСЬКОВ  АЛЕКСАНДР ОЛЕГОВИЧ      45
20               ВЕКШИН  ПАВЕЛ РОМАНОВИЧ      40
21             ВОЛОСНОВ  АРТЕМ СЕРГЕЕВИЧ       2
22              ВОРОБЬЕВ  МИХАИЛ ЮРЬЕВИЧ      55
23               ВЫЖГИН  ДМИТРИЙ ЮРЬЕВИЧ       2
24            ГАВРИЛЮК  ОЛЕСЯ АЛЕКСЕЕВНА      40
25            ГАЗИЗОВ  КУАТ БАХЫТБЕКОВИЧ      85
26           ГАЛИМЬЯНОВ  АРТУР ВАДИМОВИЧ      55
27             ГАЛИНОВА  ВЕРА ДМИТРИЕВНА       2
28           ГАЧЕГОВ  РОМАН ВЛАДИМИРОВИЧ      40
29         ГЕРАСИМЕНКО  ДЕНИС ВАЛЕРЬЕВИЧ       2
..                                   ...     ...
155            СОЛОНИН  МИХАИЛ АНДРЕЕВИЧ      75
156        СУДАРЕВА  ВАЛЕРИЯ АНАТОЛЬЕВНА      70
157             СУМИН  ДАНИИЛ ЛЕОНИДОВИЧ     100
158  СУЮНБЕКОВА  МАНЗУРАХОН БАТЫРЖАНОВНА      50
159              СЫЧЕВА  АННА ДМИТРИЕВНА      45
160            ТАСЖАНОВ  ТИМУР КАНАТОВИЧ      70
161            ТИМОФЕЕВА  ЕЛЕНА ПАВЛОВНА      45
162           ТИХОНОВ  МИХАИЛ ДМИТРИЕВИЧ      75
163       ТКАЧЕНКО  ЕКАТЕРИНА ВИКТОРОВНА      55
164          ФЕДОРОВСКИЙ  АНТОН ИГОРЕВИЧ       2
165            ХАНДЖЯН  АНТОН АРКАДЬЕВИЧ      65
166            ХЗМАЛЯН  ДАВИД ЭДВАРДОВИЧ     100
167              ХОМИЧ  ПАВЕЛ ВИКТОРОВИЧ      65
168               ЦЫПИН  АРТЕМ АНДРЕЕВИЧ      75
169    ЧЕПУРНАЯ  АЛЕКСАНДРА ВЛАДИМИРОВНА       2
170            ЧЕРНЫШЕВ  ДАНИИЛ ИВАНОВИЧ      55
171     ЧЕРНЯВСКИЙ  МАКСИМ АЛЕКСАНДРОВИЧ      95
172           ШАБАНОВА  СОФИЯ МИХАЙЛОВНА       2
173         ШАЙДУЛЛИН  АНСЭЛЬ ИЛЬГИЗОВИЧ       2
174            ШАМШИЕВ  МАМАТ МАМБЕТОВИЧ     100
175          ШЕЛЕПАНОВ  ДАНИИЛ АНДРЕЕВИЧ       2
176           ШЕСТАКОВА  АННА НИКОЛАЕВНА      95
177               ШИН  КИРИЛЛ ВИКТОРОВИЧ       2
178              ШИРОКИХ  ИЛЬЯ ФЕДОРОВИЧ      65
179              ШМИТОВ  НИКИТА ОЛЕГОВИЧ      85
180              ШУЛУС  ПАВЕЛ АЛЕКСЕЕВИЧ      40
181                ЭЛЬ-АЙЯСС  ДАНИ ВАЛИД      55
182       ЭЛЬНАТАНОВ  АЛЕКСЕЙ АЛЕКСЕЕВИЧ      75
183          ЭФЕНДИЕВ  ФИЛИПП МАРАТ ОГЛЫ      80
184           ЮШМАНОВ  СЕРГЕЙ ДМИТРИЕВИЧ      40

[185 rows x 2 columns]